
<div class="container">
    <h1>Bookings</h1>
  
    <form [formGroup]="myForm" (ngSubmit)="reserve()" class="row g-3">

      <div class="col-auto">
        <label for="room-type">Type of Room:&nbsp; </label>
        <select class="form-control" formControlName="roomType" style="display: inline; width: 150px;">
          <option *ngFor="let type of Typs" [ngValue]="type">
            {{ type.RoomType }}
          </option>
        </select>
      </div>

      <div class="col-auto">
        <label for="check-in">Check In:&nbsp; </label>
        <input matInput [matDatepicker]="pickerIn" id="check-in" class="form-control" formControlName="checkIn" style="display: inline; width: 150px;">
        <mat-datepicker-toggle matSuffix [for]="pickerIn"></mat-datepicker-toggle>
        <mat-datepicker #pickerIn></mat-datepicker>
      </div>
  
      <div class="col-auto">
        <label for="check-out">Check Out:&nbsp; </label>
        <input matInput [matDatepicker]="pickerOut" id="check-out" class="form-control" formControlName="checkOut" style="display: inline; width: 150px;">
        <mat-datepicker-toggle matSuffix [for]="pickerOut"></mat-datepicker-toggle>
        <mat-datepicker #pickerOut></mat-datepicker>
      </div>

      <div class="col-auto">
        <div *ngIf="!getValue()" class="alert alert-danger" role="alert">
          Complete the form to enable button.
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!getValue()">Reserve</button>
      </div>
  
    </form>
  </div>