
<div class="container">
    <h1>Bookings</h1>
  
    <form [formGroup]="myForm" (ngSubmit)="reserve()" class="row g-3">

      <div class="col-auto">
        <label for="room-type">Room </label>
        <select class="form-control" formControlName="roomType" placeholder="Selectes a type of room">
          <option *ngFor="let type of Typs" [ngValue]="type">
            {{ type.RoomType }}
          </option>
        </select>
      </div>

      <div class="col-auto">
        <label for="check-in">Check In </label>
        <input type="date" id="check-in" class="form-control" formControlName="checkIn"
        placeholder="mm-dd-yyyy"
        min="getMinDate()" max="12/31/2030">
      </div>
  
      <div class="col-auto">
        <label for="check-out">Check Out: </label>
        <input type="date" id="check-out" class="form-control" formControlName="checkOut">
      </div>

      <div class="col-auto">
        <div *ngIf="!getValue()" class="alert alert-danger" role="alert">
          Complete the form to enable button.
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!getValue()">Reserve</button>
      </div>
  
    </form>
  </div>